@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Nunito:wght@500&family=Outfit&display=swap');

*{
    margin: 0;
    padding: 0;
}

.hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.hero_sea {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    transform: scale(1.05);
    transition: transform;
    transition-duration: 200ms;
}

.vig {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*background: radial-gradient(transparent, black);*/
    background-color: black;
    opacity: 0.5;
    z-index: 1;
    width: 100vw;
    height: 100vh;
  }

h1{
    text-align: center;
    font-size: 8em;
    letter-spacing: 0.6ch;
    
    color: rgb(138, 176, 203);
}

h2.calling {
    text-align: center;
    letter-spacing: 0.7ch;
    font-size: 1.7em;
    color: whitesmoke;
    margin-top: -20px;
}

h1, h2.calling {
   /* text-shadow: -1px 1px 0 #000, 
                  1px 1px 0 #000, 
                  1px -1px 0 #000, 
                 -1px -1px 0 #000; */
    font-family: 'Nunito', sans-serif;
    z-index: 2;
}

.learn {
    margin-top: 45px !important;
    width: fit-content;
    height: fit-content;
    padding: 20px 25px;
    letter-spacing: 0.3ch;
    background-color: rgb(138, 176, 203);
    border: none;
    z-index: 2;
    margin: 0 auto;
    font-weight: bold;
    color: aliceblue;
    line-height: 1.2ch;
    cursor: pointer;
    transition: transform;
    transition-duration: 300ms;
}

.learn:hover {
    transform: scale(1.05);
}

.learn:hover .hero_sea {
    transform: scale(1);
}

.news {
    width: 100vw;
    height: fit-content;
    background-color: rgb(227, 244, 244);
    display: grid;
    row-gap: 45px;
}

h2.latest {
    text-align: center;
    font-size: 2.3em;
    padding-top: 3%;
    font-family: 'Merriweather', serif;
    letter-spacing: 0.03ch;
}

.posts {
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.cards {
    background-color: aliceblue;
    width: 27vw;
    height: 58vh;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transform: scale(1.03);
    transition: transform 0.4s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-width: 300px;
    max-height: 400px;
}

.beach {
    object-fit: cover;
    width: 22vw;
    height: 33vh;
    z-index: 1;
    margin: 5vh auto;
    min-width: 260px;
    max-height: 300px;
}

.cards:hover {
    transform: scale(1);
}

figcaption {
    margin-left: 2.6vw;
    margin-top: -4vh;
}

figcaption > h2 {
    font-family: 'Merriweather', serif;
    margin-bottom: 3vh;
    letter-spacing: 0.05ch;
}

figcaption > p {
    font-family: 'Outfit', sans-serif;
    color: gray;
    font-size: 0.85em;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 4em;
    }
    h2 {
        font-size: 1.1em;
        margin-top: 10px;
    }
    .learn {
        transform: scale(0.8);
    }
}

@media screen and (max-width: 1024px) {
    .posts {
        display: flex;
        flex-direction: column;
        column-gap: 15px;
    }
    figcaption > p {
        padding-bottom: 35px;
    }
}

@media screen and (max-height: 800px) {
    figcaption > p {
        padding-bottom: 35px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 920px) {
    .posts {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        gap: 180px;
    }
    .cards {
        margin-top: 10px;
        transform: scale(1.4);
    }
    .cards:hover {
        transform: scale(1.3);
    }
}
